<div class="table-responsive">
  <div class="content-loader" ng-show='loading'>
    <div class="loader"></div>
  </div>

  <p ng-show='carregando'>Carregando</p>

  <div class="">
    <table class="table table-hover">
      <tr>
        <th>Descrição</th>
        <th>Feito</th>
        <th>Data de Criação</th>
        <th></th>
      </tr>
      <tr ng-repeat="tarefa in tarefas">
        <td>
          <a href="#/tarefa/{{tarefa._id}}">{{tarefa.description}}</a>
        </td>
        <td>{{tarefa.done}}</td>
        <td>{{tarefa.createdAt | date:'dd/MM/yyyy'}}</td>
        <td>
          <button class="btn btn-danger" type="button" name="button" ng-click='removerTarefa(tarefa)'>Remover</button>
        </td>
      </tr>
    </table>
    <a class="btn btn-success" ng-href="#/tarefa">Nova Tarefa</a>
  </div>
</div>
